/*--==Style in Common==--*/

.relative-pos {
	position: relative;
}

.error.text {
	color: red;
}

.error.text0 {
	color: #FFD700;
	text-shadow: 1px 1px #FFFF00; 
	-webkit-text-shadow: 1px 1px #FFFF00;				 
}

.text-bold {
	font-weight: 700;
}

.init-hide {
	opacity: 0;
}

/*testing only*/
.sweet-alert p {
	text-align: left !important;
}

/* HEXAGON STARTS HERE */
.hex {
	width:150px;
	height:86px;
	background-color: #ccc;
	background-repeat: no-repeat;
	background-position: 50% 50%;			
	-webkit-background-size: auto 173px;							
	-moz-background-size: auto 173px;							
	-ms-background-size: auto 173px;							
	-o-background-size: auto 173px;							
	position: relative;
	float:left;
	margin:25px 5px;
	text-align:center;
	zoom:1;
}

.hex.hex-gap {
	margin-left: 86px;
}

.hex a {
	display:block;
	width: 100%;
	height:100%;
	text-indent:-9999em;
	position:absolute;
	top:0;
	left:0;
}

.hex .corner-1,
.hex .corner-2 {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: inherit;								
	z-index:-2;						
	overflow:hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;			
	backface-visibility: hidden;			
}

.hex .corner-1 {
	z-index:-1;
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	-o-transform: rotate(60deg);
	transform: rotate(60deg);
}

.hex .corner-2 {
	-webkit-transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	-ms-transform: rotate(-60deg);
	-o-transform: rotate(-60deg);
	transform: rotate(-60deg);
}

.hex .corner-1:before,
.hex .corner-2:before {
	width: 173px;
	height:	173px;
  content: '';
  position: absolute;
  background: inherit;
  top:0;
  left: 0;
  z-index: 1;
  background: inherit;
  background-repeat:no-repeat;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;	
	backface-visibility: hidden;				  
}			


.hex .corner-1:before {
	-webkit-transform: rotate(-60deg) translate(-87px, 0px);
	-moz-transform: rotate(-60deg) translate(-87px, 0px);
	-ms-transform: rotate(-60deg) translate(-87px, 0px);
	-o-transform: rotate(-60deg) translate(-87px, 0px);
	transform: rotate(-60deg) translate(-87px, 0px);	
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
}			

.hex .corner-2:before {
	-webkit-transform: rotate(60deg) translate(-48px, -11px);
	-moz-transform: rotate(60deg) translate(-48px, -11px);
	-ms-transform: rotate(60deg) translate(-48px, -11px);
	-o-transform: rotate(60deg) translate(-48px, -11px);
	transform: rotate(60deg) translate(-48px, -11px);	
	bottom:0;
}		


/* Custom styles*/
.hex .inner {		
	color:#333;
}

.hex h4 {
	font-family: 'Josefin Sans', sans-serif;		
	margin:0;			
}

.hex hr {
	border:0;
	border-top:1px solid #eee;
	width:60%;
	margin:15px auto;
}

.hex p {
	font-size:16px;
	font-weight: 700;
	font-family: 'Kotta One', serif;
	width:80%;
	margin: -25px auto -10px auto;
}

/* what Background Color */
.bg-linear-color1-angle1 {
	background-color: white;
  	background-image: -webkit-linear-gradient(#E6EAFF 10%, white 90%);
  	background-image: linear-gradient(#E6EAFF 10%, white 90%);
}

.bg-linear-color1-angle2 {
	background-color: white;
  	background-image: -webkit-linear-gradient(60deg, #E6EAFF 10%, white 90%);
  	background-image: linear-gradient(60deg, #E6EAFF 10%, white 90%);
}

.bg-linear-color1-angle3 {
	background-color: white;
  	background-image: -webkit-linear-gradient(120deg, #E6EAFF 10%, white 90%);
  	background-image: linear-gradient(120deg, #E6EAFF 10%, white 90%);
}

.bg-linear-color1-angle4 {
	background-color: white;
  	background-image: -webkit-linear-gradient(180deg, #E6EAFF 10%, white 90%);
  	background-image: linear-gradient(180deg, #E6EAFF 10%, white 90%);
}

.bg-linear-color1-angle5 {
	background-color: white;
  	background-image: -webkit-linear-gradient(240deg, #E6EAFF 10%, white 90%);
  	background-image: linear-gradient(240deg, #E6EAFF 10%, white 90%);
}

.bg-linear-color1-angle6 {
	background-color: white;
  	background-image: -webkit-linear-gradient(300deg, #E6EAFF 10%, white 90%);
  	background-image: linear-gradient(300deg, #E6EAFF 10%, white 90%);
}

.bg-linear-color2-angle1 {
	background-color: white;
  	background-image: -webkit-linear-gradient(#E6EAFF 10%, white 90%);
  	background-image: linear-gradient(#E6EAFF 10%, white 90%);
}

.bg-linear-color2-angle2 {
	background-color: white;
  	background-image: -webkit-linear-gradient(60deg, #E6EAFF 10%, #D1D3E0 90%);
  	background-image: linear-gradient(60deg, #E6EAFF 10%, #D1D3E0 90%);
}

.bg-linear-color2-angle3 {
	background-color: white;
  	background-image: -webkit-linear-gradient(120deg, #E6EAFF 10%, #D1D3E0 90%);
  	background-image: linear-gradient(120deg, #E6EAFF 10%, #D1D3E0 90%);
}

.bg-linear-color2-angle4 {
	background-color: white;
  	background-image: -webkit-linear-gradient(180deg, #E6EAFF 10%, #D1D3E0 90%);
  	background-image: linear-gradient(180deg, #E6EAFF 10%, #D1D3E0 90%);
}

.bg-linear-color2-angle5 {
	background-color: white;
  	background-image: -webkit-linear-gradient(240deg, #E6EAFF 10%, #D1D3E0 90%);
  	background-image: linear-gradient(240deg, #E6EAFF 10%, #D1D3E0 90%);
}

.bg-linear-color2-angle6 {
	background-color: white;
  	background-image: -webkit-linear-gradient(300deg, #E6EAFF 10%, #D1D3E0 90%);
  	background-image: linear-gradient(300deg, #E6EAFF 10%, #D1D3E0 90%);
}

.bg-linear-color3-angle1 {
	background-color: white;
  	background-image: -webkit-linear-gradient(#E6EAFF 10%, #E0E0E0 90%);
  	background-image: linear-gradient(#E6EAFF 10%, #E0E0E0 90%);
}

.bg-linear-color3-angle2 {
	background-color: white;
  	background-image: -webkit-linear-gradient(60deg, #E6EAFF 10%, #E0E0E0 90%);
  	background-image: linear-gradient(60deg, #E6EAFF 10%, #E0E0E0 90%);
}

.bg-linear-color3-angle3 {
	background-color: white;
  	background-image: -webkit-linear-gradient(120deg, #E6EAFF 10%, #E0E0E0 90%);
  	background-image: linear-gradient(120deg, #E6EAFF 10%, #E0E0E0 90%);
}

.bg-linear-color3-angle4 {
	background-color: white;
  	background-image: -webkit-linear-gradient(180deg, #E6EAFF 10%, #E0E0E0 90%);
  	background-image: linear-gradient(180deg, #E6EAFF 10%, #E0E0E0 90%);
}

.bg-linear-color3-angle5 {
	background-color: white;
  	background-image: -webkit-linear-gradient(240deg, #E6EAFF 10%, #E0E0E0 90%);
  	background-image: linear-gradient(240deg, #E6EAFF 10%, #E0E0E0 90%);
}

.bg-linear-color3-angle6 {
	background-color: white;
  	background-image: -webkit-linear-gradient(300deg, #E6EAFF 10%, #E0E0E0 90%);
  	background-image: linear-gradient(300deg, #E6EAFF 10%, #E0E0E0 90%);
}

.bg-linear-color4-angle1 {
	background-color: white;
  	background-image: -webkit-linear-gradient(#EEE6FF 10%, white 90%);
  	background-image: linear-gradient(#EEE6FF 10%, white 90%);
}

.bg-linear-color4-angle2 {
	background-color: white;
  	background-image: -webkit-linear-gradient(60deg, #EEE6FF 10%, white 90%);
  	background-image: linear-gradient(60deg, #EEE6FF 10%, white 90%);
}

.bg-linear-color4-angle3 {
	background-color: white;
  	background-image: -webkit-linear-gradient(120deg, #EEE6FF 10%, white 90%);
  	background-image: linear-gradient(120deg, #EEE6FF 10%, white 90%);
}

.bg-linear-color4-angle4 {
	background-color: white;
  	background-image: -webkit-linear-gradient(180deg, #EEE6FF 10%, white 90%);
  	background-image: linear-gradient(180deg, #EEE6FF 10%, white 90%);
}

.bg-linear-color4-angle5 {
	background-color: white;
  	background-image: -webkit-linear-gradient(240deg, #EEE6FF 10%, white 90%);
  	background-image: linear-gradient(240deg, #EEE6FF 10%, white 90%);
}

.bg-linear-color4-angle6 {
	background-color: white;
  	background-image: -webkit-linear-gradient(300deg, #EEE6FF 10%, white 90%);
  	background-image: linear-gradient(300deg, #EEE6FF 10%, white 90%);
}

.bg-linear-color5-angle1 {
	background-color: white;
  	background-image: -webkit-linear-gradient(#EEE6FF 10%, #EDEDED 90%);
  	background-image: linear-gradient(#EEE6FF 10%, #EDEDED 90%);
}

.bg-linear-color5-angle2 {
	background-color: white;
  	background-image: -webkit-linear-gradient(60deg, #EEE6FF 10%, #EDEDED 90%);
  	background-image: linear-gradient(60deg, #EEE6FF 10%, #EDEDED 90%);
}

.bg-linear-color5-angle3 {
	background-color: white;
  	background-image: -webkit-linear-gradient(120deg, #EEE6FF 10%, #EDEDED 90%);
  	background-image: linear-gradient(120deg, #EEE6FF 10%, #EDEDED 90%);
}

.bg-linear-color5-angle4 {
	background-color: white;
  	background-image: -webkit-linear-gradient(180deg, #EEE6FF 10%, #EDEDED 90%);
  	background-image: linear-gradient(180deg, #EEE6FF 10%, #EDEDED 90%);
}

.bg-linear-color5-angle5 {
	background-color: white;
  	background-image: -webkit-linear-gradient(240deg, #EEE6FF 10%, #EDEDED 90%);
  	background-image: linear-gradient(240deg, #EEE6FF 10%, #EDEDED 90%);
}

.bg-linear-color5-angle6 {
	background-color: white;
  	background-image: -webkit-linear-gradient(300deg, #EEE6FF 10%, #EDEDED 90%);
  	background-image: linear-gradient(300deg, #EEE6FF 10%, #EDEDED 90%);
}

.bg-linear-color6-angle1 {
	background-color: white;
  	background-image: -webkit-linear-gradient(#F5FFF7 10%, #E1EDE4 90%);
  	background-image: linear-gradient(#F5FFF7 10%, #E1EDE4 90%);
}

.bg-linear-color6-angle2 {
	background-color: white;
  	background-image: -webkit-linear-gradient(60deg, #F5FFF7 10%, #E1EDE4 90%);
  	background-image: linear-gradient(60deg, #F5FFF7 10%, #E1EDE4 90%);
}

.bg-linear-color6-angle3 {
	background-color: white;
  	background-image: -webkit-linear-gradient(120deg, #F5FFF7 10%, #E1EDE4 90%);
  	background-image: linear-gradient(120deg, #F5FFF7 10%, #E1EDE4 90%);
}

.bg-linear-color6-angle4 {
	background-color: white;
  	background-image: -webkit-linear-gradient(180deg, #F5FFF7 10%, #E1EDE4 90%);
  	background-image: linear-gradient(180deg, #F5FFF7 10%, #E1EDE4 90%);
}

.bg-linear-color6-angle5 {
	background-color: white;
  	background-image: -webkit-linear-gradient(240deg, #F5FFF7 10%, #E1EDE4 90%);
  	background-image: linear-gradient(240deg, #F5FFF7 10%, #E1EDE4 90%);
}

.bg-linear-color6-angle6 {
	background-color: white;
  	background-image: -webkit-linear-gradient(300deg, #F5FFF7 10%, #E1EDE4 90%);
  	background-image: linear-gradient(300deg, #F5FFF7 10%, #E1EDE4 90%);
}

/*--@ for random animation --*/

/*1-fade*/
.animate-fadeUp.ng-hide-remove {
	-webkit-animation: fadeInUp 0.5;
  	-o-animation: fadeInUp 0.5;
  	animation: fadeInUp 0.5s;
}

.animate-fadeUp.ng-hide-add {
	-webkit-animation: fadeOutUp 0.5s;
  	-o-animation: fadeOutUp 0.5s;
  	animation: fadeOutUp 0.5s;
}

/*2-flip*/
.animate-flipX.ng-hide-remove {
	-webkit-animation: flipInX 0.5;
  	-o-animation: flipInX 0.5;
  	animation: flipInX 0.5s;
}

.animate-flipX.ng-hide-add {
	-webkit-animation: flipOutX 0.5s;
  	-o-animation: flipOutX 0.5s;
  	animation: flipOutX 0.5s;
}

/*3-roll*/
.animate-roll.ng-hide-remove {
	-webkit-animation: rollIn 0.5;
  	-o-animation: rollIn 0.5;
  	animation: rollIn 0.5s;
}

.animate-roll.ng-hide-add {
	-webkit-animation: rollOut 0.5s;
  	-o-animation: rollOut 0.5s;
  	animation: rollOut 0.5s;
}

/*4-zoom*/
.animate-zoom.ng-hide-remove {
	-webkit-animation: zoomIn 0.5;
  	-o-animation: zoomIn 0.5;
  	animation: zoomIn 0.5s;
}

.animate-zoom.ng-hide-add {
	-webkit-animation: zoomOut 0.5s;
  	-o-animation: zoomOut 0.5s;
  	animation: zoomOut 0.5s;
}

/*5-rotate*/
.animate-rotate.ng-hide-remove {
	-webkit-animation: rotateIn 0.5s;
  	-o-animation: rotateIn 0.5s;
  	animation: rotateIn 0.5s;
}

.animate-rotate.ng-hide-add {
	-webkit-animation: rotateOut 0.5s;
  	-o-animation: rotateOut 0.5s;
  	animation: rotateOut 0.5s;
}

/*--& for random animation --*/


/* =================================
 * Curtain: for defining popup level
 * ================================= */

.curtain {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

.curtain.ctn200 {
	z-index: 200;
}

/* =========================
 * login page (startup page)
 * ========================= */
.container.sign .block-center.one-page {
	position: relative;
}

.container.sign .text-muted {
	color: #333;
	font-weight: bold;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}

.container.sign .text-decorate {
	color: white;
	font-weight: bold;
}

.container.sign .text-decorate.pv {
	color: yellow;
	font-weight: 900;
	font-size: 1.3em;
	letter-spacing: 0.1em;
	font-family: 'Clicker Script', cursive;
	text-shadow: 2px 2px 6px rgba(0,0,0,0.4);
}

.container.sign .terms {
	font-weight: 900;
	color: #FFD700;
}

.container.sign .terms:hover {
	color: #FFD700;
	text-decoration: none;
}

.container.sign .panel.panel-flat {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 201;
}

/*connect tree (login page)*/
.connect-tree {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background-color: #23b7e5;
  	background-image: -webkit-linear-gradient(90deg, #23b7e5 10%, #19a9d5 90%);
  	/* Chrome 10+, Saf5.1+ */
  	background-image: -moz-linear-gradient(90deg, #23b7e5 10%, #19a9d5 90%);
  	/* FF3.6+ */
  	background-image: -ms-linear-gradient(90deg, #23b7e5 10%, #19a9d5 90%);
  	/* IE10 */
  	background-image: -o-linear-gradient(90deg, #23b7e5 10%, #19a9d5 90%);
  	/* Opera 11.10+ */
  	background-image: linear-gradient(90deg, #23b7e5 10%, #19a9d5 90%);
}

/* ===========
 * top-nav bar
 * =========== */
.topnavbar .nav-item.logout {
	font-family: 'Clicker Script', cursive;
	color: white;
	font-weight: 900;
	-webkit-text-shadow: 2px 2px 3px #6495ED;
			text-shadow: 2px 2px 3px #6495ED;
}

/* ============
 * machine list
 * ============ */
.wrapper.machines .btn-col {
	padding: 15px;
}

.wrapper.machines .table-col {
	padding: 0 15px;
}

/*summary*/
.wrapper.machines .row.buttons .ph,
.wrapper.testsuite .row.buttons .ph {
	margin-top: 25px;
}

/*page loading animation*/
.wrapper.machines .row.top-summary.animate.ng-hide-remove {
	-webkit-animation: fadeInDown 1s;
  	-o-animation: fadeInDown 1s;
  	animation: fadeInDown 1s;
}

.wrapper.machines .row.buttons.animate.ng-hide-remove {
	-webkit-animation: fadeInDown 1s;
  	-o-animation: fadeInDown 1s;
  	animation: fadeInDown 1s;
}

.wrapper.machines .table-col.animate.ng-hide-remove {
	-webkit-animation: fadeInDown 1s;
  	-o-animation: fadeInDown 1s;
  	animation: fadeInDown 1s;
}

.wrapper.machines .right-col .stats.panel,
.wrapper.testsuite .right-col .stats.panel,
.wrapper.workload .right-col .stats.panel {
	margin-right: -400px;
	opacity: 0;
	-webkit-transition: all 2s ease;
  	-o-transition: all 2s ease;
  	transition: all 2s ease;
}

.wrapper.machines .right-col .stats.panel.panel-shown,
.wrapper.testsuite .right-col .stats.panel.panel-shown,
.wrapper.workload .right-col .stats.panel.panel-shown {
	margin-right: 0;
	opacity: 1;
}

/*ngTable style*/
.wrapper.machines .table,
.wrapper.testsuite .table {
	border: none;
	border-radius: 5px;
	border-collapse: separate;
	border-spacing: 0 10px;
	background: none;
  	background-image: -webkit-linear-gradient(180deg, #ccc 5%, white 90%, #ccc 5%);
  	/* Chrome 10+, Saf5.1+ */
  	background-image: -moz-linear-gradient(180deg, #ccc 5%, white 90%, #ccc 5%);
  	/* FF3.6+ */
  	background-image: -ms-linear-gradient(180deg, #ccc 5%, white 90%, #ccc 5%);
  	/* IE10 */
  	background-image: -o-linear-gradient(180deg, #ccc 5%, white 90%, #ccc 5%);
  	/* Opera 11.10+ */
  	background-image: linear-gradient(180deg, #ccc 5%, white 90%, #ccc 5%);
}

.wrapper.machines .table thead th,
.wrapper.testsuite .table thead th {
	border: none; 
} 

.wrapper.machines .table tbody td,
.wrapper.testsuite .table tbody td {
	-webkit-box-shadow: 2px 2px 3px #ccc;
			box-shadow: 2px 2px 3px #ccc;
	border: none;
	background-color: white;
  	background-image: -webkit-linear-gradient(180deg, #fafbfc 10%, white 90%);
  	/* Chrome 10+, Saf5.1+ */
  	background-image: -moz-linear-gradient(180deg, #fafbfc 10%, white 90%);
  	/* FF3.6+ */
  	background-image: -ms-linear-gradient(180deg, #fafbfc 10%, white 90%);
  	/* IE10 */
  	background-image: -o-linear-gradient(180deg, #fafbfc 10%, white 90%);
  	/* Opera 11.10+ */
  	background-image: linear-gradient(180deg, #fafbfc 10%, white 90%);
}

/*popup*/
.wrapper.machines .popup.machine-add {
	position: fixed;	/*relative to window*/
	top: 50%;
	left: 0;
	width: 100%;
	z-index: 50;
}

.wrapper.machines .popup.machine-add .row.btn-block {
	margin-top: 15px;
}

/*angular CSS3 animation*/
.wrapper.machines .popup.machine-add.ng-hide-remove {
	-webkit-animation: fadeInUp 0.5s;
  	-o-animation: fadeInUp 0.5s;
  	animation: fadeInUp 0.5s;
} 

.wrapper.machines .popup.machine-add.ng-hide-add {
	-webkit-animation: fadeOutUp 0.5s;
  	-o-animation: fadeOutUp 0.5s;
  	animation: fadeOutUp 0.5s;
}
/* =========
 * dashboard
 * ========= */

.wrapper.dashboard .popup.machine-add {
	position: fixed;	/*relative to window*/
	top: 50%;
	left: 0;
	width: 100%;
	margin-top: -100px;
	z-index: 50;
	overflow: hidden;
}

.wrapper.dashboard .popup.machine-add .row.btn-block {
	margin-top: 15px;
}

/*angular CSS3 animation*/
.wrapper.dashboard .popup.machine-add.ng-hide-remove {
	-webkit-animation: fadeInUp 0.5s;
  	-o-animation: fadeInUp 0.5s;
  	animation: fadeInUp 0.5s;
} 

.wrapper.dashboard .popup.machine-add.ng-hide-add {
	-webkit-animation: fadeOutDown 0.5s;
  	-o-animation: fadeOutDown 0.5s;
  	animation: fadeOutDown 0.5s;
} 

/* =========
 * testsuite
 * =========*/
.wrapper.testsuite .list-set.pagination {
	margin-bottom: 15px;
}

.wrapper.testsuite .row.buttons .btn-col {
	padding-top: 22px;
}

/*page loading animation*/
.wrapper.testsuite .row.top-summary.animate.ng-hide-remove {
	-webkit-animation: fadeInDown 1s;
  	-o-animation: fadeInDown 1s;
  	animation: fadeInDown 1s;
}

.wrapper.testsuite .row.buttons.animate.ng-hide-remove {
	-webkit-animation: fadeInDown 1s;
  	-o-animation: fadeInDown 1s;
  	animation: fadeInDown 1s;
}

.wrapper.testsuite .table-col.animate.ng-hide-remove {
	-webkit-animation: fadeInDown 1s;
  	-o-animation: fadeInDown 1s;
  	animation: fadeInDown 1s;
}

/*ngTable style (reuse machine)*/

/*aside slide panel*/
.wrapper.testsuite .panel.aside-slide,
.wrapper.workload .panel.aside-slide {
	position: fixed;
	right: -370px;
	top: 75px;
	width: 370px;
	max-height: 720px;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 50;
	-webkit-transition: all 0.3s ease;
  	-o-transition: all 0.3s ease;
  	transition: all 0.3s ease;
  	background-color: #C1D4C7;
  	background-image: -webkit-linear-gradient(150deg, #C1D4C7 10%, white 90%);
  	/* Chrome 10+, Saf5.1+ */
  	background-image: -moz-linear-gradient(150deg, #C1D4C7 10%, white 90%);
  	/* FF3.6+ */
  	background-image: -ms-linear-gradient(150deg, #C1D4C7 10%, white 90%);
  	/* IE10 */
  	background-image: -o-linear-gradient(150deg, #C1D4C7 10%, white 90%);
  	/* Opera 11.10+ */
  	background-image: linear-gradient(150deg, #C1D4C7 10%, white 90%);
}

.wrapper.testsuite .panel.aside-slide.panel-slide-shown,
.wrapper.workload .panel.aside-slide.group-slide-shown {
	right: 15px;
}

.wrapper.testsuite .panel.aside-slide .one-tab,
.wrapper.workload .panel.aside-slide .one-tab {
	margin-bottom: 10px;
}

.wrapper.testsuite .panel.aside-slide .one-tab a,
.wrapper.workload .panel.aside-slide .one-tab a {
	color: #FFFFFF;
}

.wrapper.testsuite .panel.aside-slide .one-tab a:hover,
.wrapper.workload .panel.aside-slide .one-tab a:hover {
	color: #FFD700;
}

.wrapper.testsuite .panel.aside-slide em.label,
.wrapper.workload .panel.aside-slide em.label {
	color: #666;
	margin-right: 5px;
}

.wrapper.testsuite .box-placeholder {
	padding: 5px;
}

/*popup testsuite add*/
.wrapper.testsuite .popup.testsuite-add,
.wrapper.workload .popup.workload {
	position: fixed;	/*relative to window*/
	top: 75px;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 50;
	overflow: hidden;
}

.wrapper.testsuite .popup.testsuite-add .panel,
.wrapper.workload .popup.workload .panel {
	background-color: #C9CCD1;
  	background-image: -webkit-linear-gradient(90deg, #C9CCD1 10%, #96999E 90%);
  	/* Chrome 10+, Saf5.1+ */
  	background-image: -moz-linear-gradient(90deg, #C9CCD1 10%, #96999E 90%);
  	/* FF3.6+ */
  	background-image: -ms-linear-gradient(90deg, #C9CCD1 10%, #96999E 90%);
  	/* IE10 */
  	background-image: -o-linear-gradient(90deg, #C9CCD1 10%, #96999E 90%);
  	/* Opera 11.10+ */
  	background-image: linear-gradient(90deg, #C9CCD1 10%, #96999E 90%);
}

.wrapper.testsuite .popup.testsuite-add .btn.click-cancel,
.wrapper.workload .popup.workload .btn.click-cancel {
	position: absolute;	/*relative to panel*/
	top: 15px;
	right: 15px;
}

.wrapper.testsuite .popup.testsuite-add.ng-hide-remove,
.wrapper.workload .popup.workload.ng-hide-remove {
	-webkit-animation: fadeInUp 0.5s;
  	-o-animation: fadeInUp 0.5s;
  	animation: fadeInUp 0.5s;
} 

.wrapper.testsuite .popup.testsuite-add.ng-hide-add,
.wrapper.workload .popup.workload.ng-hide-add {
	-webkit-animation: lightSpeedOut 1s;
  	-o-animation: lightSpeedOut 1s;
  	animation: lightSpeedOut 1s;
} 

.wrapper.testsuite .popup.testsuite-add .form-wizard > ol > li.active,
.wrapper.workload .popup.workload .form-wizard > ol > li.active {
	background: #404A61;
}


/* ========
 * Workload
 * ========*/

/*hex*/
.wrapper.workload .hex-container {
	width:700px;
	height: 400px;
	margin: 25px auto;
}

.wrapper.workload .list-set,
.wrapper.workload .uib-pagination {
	margin-top: 0;
}

.wrapper.workload .hex .text-decorate.group-name {
	font-weight: 700;
	font-size: 1.2em;
	-webkit-text-shadow: 2px 2px 3px #ccc, 1px 1px white;
			text-shadow: 2px 2px 3px #ccc, 1px 1px white;
}

.wrapper.workload .hex .btn-group.float {
	position: absolute;	/*relative to .hex*/
	width: 120px;
	text-align: center;
	top: -60px;
	left: 25px;
	opacity: 0;
	z-index: 1;
	-webkit-transition: all 0.3s ease;
  	-o-transition: all 0.3s ease;
  	transition: all 0.3s ease;
}

.wrapper.workload .hex:hover .btn-group.float {
	top: -50px;
	opacity: 1;
}

.wrapper.workload .hex .btn.float {
	position: absolute;	/*relative to .hex*/
	text-align: center;
	bottom: -60px;
	left: 30px;
	opacity: 0;
	z-index: 1;
	-webkit-transition: all 0.3s ease;
  	-o-transition: all 0.3s ease;
  	transition: all 0.3s ease;
}

.wrapper.workload .hex:hover .btn.float {
	bottom: -50px;
	opacity: 1;
}

.wrapper.workload .hex .text-decorate {
	font-size: 1.1em;
	-webkit-text-shadow: 2px 2px #ccc;
			text-shadow: 2px 2px #ccc;
}

/*group search for*/
.wrapper.workload .panel.search-for {
	position: absolute;
	width: 300px;
	top: 50px;
	z-index: 5;
	left: -300px;
	-webkit-transition: all 0.3s ease;
  	-o-transition: all 0.3s ease;
  	transition: all 0.3s ease;
}

.wrapper.workload .panel.search-for.shown {
	left: 15px;
}

.wrapper.workload .panel.search-for .panel-body {
	padding-left: 30px;
}

.wrapper.workload .panel.search-for .title.text-decorate {
	margin-left: 15px;
	font-weight: 700;
	font-size: 1.2em;
	-webkit-text-shadow: 2px 2px 3px #ccc, 1px 1px white;
			text-shadow: 2px 2px 3px #ccc, 1px 1px white;
}

.wrapper.workload .panel.search-for .click-close {
	position: absolute;
	top: 15px;
	right: 15px;
}

/*group aside slide (right) ==> reuse .wrapper.testsuite */

/*level1-group list*/
.wrapper.workload .level-1.btn-group.float {
	position: absolute;
	top: 50px;
	right: 15px;
	z-index: 2;
}

/*level2-workload list*/
.wrapper.workload .wrapper.level-2 {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	padding-left: 15px;
}

.wrapper.workload .wrapper.level-2.active {
	z-index: 1;
}

.wrapper.workload .row.title.level-2 .btn {
	position: absolute;
	top: 0;
	right: 15px;
}

.wrapper.workload .one-deck {
	-webkit-border-top-left-radius: 15px;
			border-top-left-radius: 15px;
	padding: 5px;
  	-webkit-transition: all 0.3s ease;
  	-o-transition: all 0.3s ease;
  	transition: all 0.3s ease;
}

.wrapper.workload .one-deck .content-box {
	padding: 10px;
	background-color: white;
}

.wrapper.workload .one-deck .label {
	margin-right: 5px;
}

.wrapper.workload .one-deck .popup.option {
	position: absolute;
	top: -30px;
	left: 10px;
	opacity: 0;
	-webkit-transition: all 0.3s ease;
  	-o-transition: all 0.3s ease;
  	transition: all 0.3s ease;
}

.wrapper.workload .one-deck:hover .popup.option {
	opacity: 1;
	top: 10px;
}

/*level3-workload profile*/
.wrapper.workload .wrapper.level-3 {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: -1;
	padding-left: 15px;
	-webkit-transition: all 0.5s ease;
  	-o-transition: all 0.5s ease;
  	transition: all 0.5s ease;
}

.wrapper.workload .wrapper.level-3.active {
	z-index: 10;
	opacity: 1;
}

.wrapper.workload .float.panel.operation {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 11;
}

.wrapper.workload .float.panel.operation span.width-s {
	width: 100px;
}

.wrapper.workload .float.panel.operation input.width-s {
	width: 300px;
}

.wrapper.workload .wrapper.level-3 .panel-title {
	padding-top: 10px;
}

.wrapper.workload .wrapper.level-3 .row.list-group-item {
	padding: 10px 15px;
}

.wrapper.workload .wrapper.level-3 .one-tag {
	margin-right: 10px;
}

.wrapper.workload .wrapper.level-3 .click-remove {
	margin-right: 15px;
	-webkit-transition: all 0.3s ease;
  	-o-transition: all 0.3s ease;
  	transition: all 0.3s ease;
}

.wrapper.workload .wrapper.level-3.workload-run .CodeMirror-scroll {
  overflow: auto !important;
  max-height: 500px;
}

.wrapper.workload .wrapper.level-3.workload-run .selection.code-template {
	position: absolute;
	top: 8px;
	z-index: 10;
	width: 150px;
	left: 50%;
	margin-left: -75px;
}

.wrapper.workload .wrapper.level-3.workload-run .code-toolbar.btn-toolbar .btn-group.pull-left {
	margin-left: 0;
	margin-top: 8px;
}

.wrapper.workload .wrapper.level-3.workload-profile .btn.click-close.pull-right,
.wrapper.workload .wrapper.level-3.workload-run .code-toolbar.btn-toolbar .btn-group.pull-right {
	margin-right: 0;
	margin-top: 8px;
}

/*create workload/workload group pop-up ==> some reuse testsuite*/
.wrapper.workload .popup .list-group.scrollable {
	background: white;
}

.wrapper.workload .popup.workload .click-go.float {
	position: absolute;
	top: 0;
	right: 15px;
}

.wrapper.workload .popup.workload span.width-s {
	width: 100px;
	text-align: left;
	font-weight: 700;
}

.wrapper.workload .popup.workload input.tag {
	width: 300px;
}

.wrapper.workload .popup .media-box.list-group-item {
	border: none;
	margin: 0 10px;
	border-bottom: 1px solid #e4eaec;
}

.wrapper.workload .popup .media-box.list-group-item:hover {
	background: #e4eaec;
}
