/*
* add by chenhao 2016-06-08 22:00
*/
.dash-header{
    position: relative;
    padding: 10px;
    margin: 0px;
    border-bottom: 1px solid #ddd;
}
.add-machine {
    display: inline-block;
    padding: 10px ;
    position: absolute;
    right: 10px;
    top: 10px;
}
.wrapper.dashboard div > h3{
    font-size: 24px;
    line-height: 1.1;
    color: #929292;
    margin: -15px;
    margin-bottom: 20px;
    padding: 15px;
    font-weight: normal;
    border-bottom: 1px solid #cfdbe2;
}
.wrapper.dashboard div > h3 > small{
    display: block;
    font-size: 12px;
    color: #909fa7;
    font-weight: normal;
    line-height: 1;
}
.wrapper.dashboard .dashboard_chart{
    padding: 60px !important;
}