.wrapper.user-account .change-password.container{
    margin-top: 30px;
}
.wrapper.user-account .change-password .changepassword-heading,
.wrapper.user-account .change-username .changeusername-heading{
    background-color: #F5F5F5;
}
.wrapper.user-account .change-password .panel-footer span{
    display: inline-block;
    margin-right: 6px;
    font-size: 16px;
}
.wrapper.user-account .change-password form button,
.wrapper.user-account .change-username form button,
.wrapper.user-account .delete-account form button{
    border: #D5D5D5 1px solid;
    background: -webkit-linear-gradient(#fcfcfc, #efefef); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#fcfcfc, #efefef); /* Opera 11.6 - 12.0 */
    background: -moz-linear-gradient(#fcfcfc, #efefef); /* Firefox 3.6 - 15 */
    background: linear-gradient(#fcfcfc, #efefef); /* 标准的语法（必须放在最后） */
}
.wrapper.user-account .change-password form input{
    background-color: #FAFAFA;
    border: #dddddd 1px solid;
}
.wrapper.user-account .change-password form input:focus{
    background-color: #ffffff;
    border: #269ADC 1px solid;
}
.wrapper.user-account .change-password form input.form-control{
    width: 680px;
}
.wrapper.user-account .delete-account .deleteaccount-heading{
    background-color: #DF3E3E;
    color: #ffffff;
}
.wrapper.user-account .delete-account .panel-body form button:link{
    color: #990000;
}
.wrapper.user-account .delete-account .panel-body form button:focus{
    background: #B03E39;
    color: #ffffff;
}
.wrapper.user-account .delete-account .panel-body form button:visited{
    color: #efefef;
}
.wrapper.user-account .delete-account .panel-body form button:hover{
    background: #BF423C;
    color: #ffffff;
}
.wrapper.user-account .delete-account .panel-body form button:active{
    background: #BF423C;
    color: #ffffff;
}

.wrapper.user-account .tipone{
    font-size: 13px !important;
    color: #7D6695;
}

/*debug deleteaccountModal*/

.deleteaccount_warning{
    background-color: #F7D9D7;
    border: 1px solid #F7D9D7;
    color: #A73477;
}
.warn_icon{
    display: inline-block;
    margin-right: 10px;
}
#deleteaccountModal .modal-header, #changepassModal .modal-header{
    border-bottom: 1px solid #F7D9D7;
}
#deleteaccountModal .modal-content p, #changepassModal .modal-content p{
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    margin-left: 20px;
}
#deleteaccountModal #okdelete, #changepassModal #okChange{
    background: #B03E39;
    color: #ffffff;
}
#deleteaccountModal #okdelete:visited, #changepassModal #okChange:visited{
    background-color: #F3F3F3;
    color: #D7917F;
}
#deleteaccountModal form #okdelete:focus, #changepassModal form #okChange:focus{
    background-color: #F3F3F3;
    color: #D7917F;
}
#deleteaccountModal .modal-dialog, #changepassModal .modal-dialog{
    /*width: 30%;*/

}
#deleteaccountModal, #changepassModal{
    font: 13px/1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #333;
}
.wrapper.user-account #account-form .onError{
    border: 1px solid red;
}
#deleteaccountModal .onError{
    border: 1px solid red;
}
#deleteaccountModal .popover-content{
    background-color: #B03E39;
    color: #ffffff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#deleteaccountModal .popover.top > .arrow:after{
    border-top-color: #B03E39;
}