# Ignore everything in this directory
# Except this file
!*.go
!.gitignore
nohup.out
*.swp

# swaager-ui is cloned from another git rep: https://github.com/wordnik/wordnik-clients 
swagger-ui

# # put any other files you don't want to check in here,
# # such as .DS_Store (OSX), *.bak, etc.

#ignore master diretory (for source build only)
master
