<link rel="stylesheet" href="/css/dashboard.css">
<div class="wrapper dashboard" ng-controller="MistDashboardController as dashboard">
	<div class="row ng-scope">
		<div class="col-lg-3 col-sm-6"><!-- START widget-->
			<div class="panel widget bg-primary">
				<div class="row row-table">
					<div class="col-xs-4 text-center bg-primary-dark pv-lg"><em class="icon-user fa-3x"></em>
					</div>
					<div class="col-xs-8 pv-lg">
						<div class="h2 mt0">17</div>
						<div class="text-uppercase">User</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-sm-6"><!-- START widget-->
			<div class="panel widget bg-purple">
				<div class="row row-table">
					<div class="col-xs-4 text-center bg-purple-dark pv-lg"><em class="icon-screen-desktop fa-3x"></em></div>
					<div class="col-xs-8 pv-lg">
						<div class="h2 mt0">700
							<small></small>
						</div>
						<div class="text-uppercase">Test Suite</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-6 col-sm-12"><!-- START widget-->
			<div class="panel widget bg-green">
				<div class="row row-table">
					<div class="col-xs-4 text-center bg-green-dark pv-lg"><em class="icon-chart fa-3x"></em></div>
					<div class="col-xs-8 pv-lg">
						<div class="h2 mt0">100</div>
						<div class="text-uppercase">Workloads</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-6 col-sm-12"><!-- START widget-->
			<div class="panel widget">
				<div class="row row-table">
					<div class="col-xs-4 text-center bg-green pv-lg"><em class="icon-wrench fa-3x"></em></div>
					<div class="col-xs-8 pv-lg">
						<div class="h2 mt0">500</div>
						<div class="text-uppercase">Tasks</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="dash-header">
		<h5>Machine List</h5>
		<a class="add-machine" ng-click="dashboard.togglePopShow()">Add Machine</a>
	</div>


	<!--@ popup for adding machine-->
	<div class="row popup machine-add" ng-show="popShow">
		<div class="col-xs-0 col-sm-2 col-md-2 col-lg-2 place-hold"></div>
		<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 panel-col">
			<div id="panelDemo10" class="panel panel-info">
	        	<div class="panel-heading text-center">Add Machine</div>
	        	<div class="panel-body">
	            	<div class="row">
	            		<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 one-col">
                  			<input type="text" placeholder="machine name" class="form-control" ng-model="addMachineName" />
               			</div>
               			<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 one-col">
                  			<input type="text" placeholder="hostname" class="form-control" ng-model="addMachineHost" />
               			</div>
               			<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 one-col">
                  			<input type="text" placeholder="machine ip" class="form-control" ng-model="addMachineIP" />
               			</div>
               			<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 one-col">
                  			<input type="text" placeholder="description" class="form-control" ng-model="addMachineDesc" />
               			</div>
	            	</div>
	            	<div class="row btn-block">
	            		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
	            			<button type="button" class="btn btn-pill-left btn-info">
			         			<span class="fa fa-check-circle"></span> Confirm
			         		</button>
			         		<button type="button" class="btn btn-pill-right btn-default" ng-click="popShow=false">
			         			Cancel <span class="fa fa-times-circle"></span>
			         		</button>
	            		</div>
		         	</div>
	         	</div>
	      	</div>
		</div>
	</div>
	<!--& popup for adding machine-->

</div>

<div ng-controller="ChartJSController as chart" class="container-fluid">
	<div class="row mb-lg">
		<div class="col-lg-12"><h4>TestSuite Monthly Update </h4>
			<div>
				<canvas linechart options="chart.lineOptions" data="chart.lineData" height="434"
						responsive="true"  width="1088"
						style="width: 544px; height: 217px;">

				</canvas>
			</div>
		</div>
		<div class="col-lg-12"><h4>TestSuite Monthly Update</h4>
			<div>
				<canvas barchart options="chart.barOptions" data="chart.barData" height="434" responsive="true"
						class="ng-isolate-scope" width="1088" style="width: 544px; height: 217px;"></canvas>
			</div>
		</div>
	</div>
	<div class="row mb-lg">
		<div class="col-lg-6"><h4>Polar Area Chart</h4>

			<div>
				<canvas polarchart options="chart.polarOptions" data="chart.polarData" height="652"
						responsive="true" class="ng-isolate-scope" width="1088"
						style="width: 544px; height: 326px;"></canvas>
			</div>
		</div>
		<div class="col-lg-6"><h4>Radar Chart</h4>

			<div>
				<canvas radarchart options="chart.radarOptions" data="chart.radarData" height="652"
						responsive="true" class="ng-isolate-scope" width="1088"
						style="width: 544px; height: 326px;"></canvas>
			</div>
		</div>
	</div>
	<div class="row mb-lg">
		<div class="col-lg-6"><h4>Pie Chart</h4>

			<div>
				<canvas doughnutchart options="chart.pieOptions" data="chart.pieData" height="290"
						responsive="true" class="ng-isolate-scope" width="1088"
						style="width: 544px; height: 145px;"></canvas>
			</div>
		</div>
		<div class="col-lg-6"><h4>Doughnut Chart</h4>

			<div>
				<canvas doughnutchart options="chart.doughnutOptions" data="chart.doughnutData" height="290"
						responsive="true" class="ng-isolate-scope" width="1088"
						style="width: 544px; height: 145px;"></canvas>
			</div>
		</div>
	</div>
</div>
