<link rel="stylesheet" href="/css/dashboard.css">
<div class="wrapper dashboard">
    <div ng-controller="MistDashboardController as dashboard">
        <h3 class="ng-scope">Dashboard
            <small>Welcome to dashboard!</small>
        </h3>
        <div class="row ng-scope">
            <div class="col-lg-3 col-md-6 col-sm-12"><!-- START widget-->
                <div class="panel widget bg-primary">
                    <div class="row row-table">
                        <div class="col-xs-4 text-center bg-primary-dark pv-lg"><em class="fa fa-cubes fa-3x"></em>
                        </div>
                        <div class="col-xs-8 pv-lg">
                            <div class="h2 mt0">70</div>
                            <div class="text-uppercase">Machine</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12"><!-- START widget-->
                <div class="panel widget bg-purple">
                    <div class="row row-table">
                        <div class="col-xs-4 text-center bg-purple-dark pv-lg"><em class="icon-screen-desktop fa-3x"></em></div>
                        <div class="col-xs-8 pv-lg">
                            <div class="h2 mt0">700
                                <small></small>
                            </div>
                            <div class="text-uppercase">Test Suite</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12"><!-- START widget-->
                <div class="panel widget bg-green">
                    <div class="row row-table">
                        <div class="col-xs-4 text-center bg-green-dark pv-lg"><em class="icon-chart fa-3x"></em></div>
                        <div class="col-xs-8 pv-lg">
                            <div class="h2 mt0">100</div>
                            <div class="text-uppercase">Workloads</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12"><!-- START widget-->
                <div class="panel widget bg-gray-light">
                    <div class="row row-table">
                        <div class="col-xs-4 text-center bg-gray-dark pv-lg"><em class="icon-wrench fa-3x"></em></div>
                        <div class="col-xs-8 pv-lg">
                            <div class="h2 mt0">500</div>
                            <div class="text-uppercase">Tasks</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-controller="ChartJSController as chart" class="container-fluid">

        <div class="row mb-lg">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>TestSuite Monthly Update </h4>
                    </div>
                    <div class="panel-body">
                        <canvas linechart options="chart.lineOptions" data="chart.lineData" height="434"
                                responsive="true"  width="1088"
                                style="width: 544px; height: 150px;">
                        </canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>TestSuite Monthly Update </h4>
                    </div>
                    <div class="panel-body">
                        <canvas linechart options="chart.lineOptions" data="chart.lineData" height="434"
                                responsive="true"  width="1088"
                                style="width: 544px; height: 150px;">
                        </canvas>
                    </div>
                </div>
            </div>


            <div class="col-lg-12">
                <h4>TestSuite Monthly Update </h4>
                <div>
                    <canvas linechart options="chart.lineOptions" data="chart.lineData" height="434"
                            responsive="true"  width="1088"
                            style="width: 544px; height: 150px;">
                    </canvas>
                </div>
            </div>
            <div class="col-lg-12"><h4>Workload Monthly Update</h4>
                <div>
                    <canvas barchart options="chart.barOptions" data="chart.barData" height="434" responsive="true"
                            class="ng-isolate-scope" width="1088" style="width: 544px; height: 150px;"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>



