<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">Latest activities</div>
    </div>
    <!-- START list group-->
    <div class="list-group"><!-- START list group item-->
        <div class="list-group-item">
            <div class="media-box">
                <div class="pull-left"><span class="fa-stack"><em class="fa fa-circle fa-stack-2x text-purple"></em><em
                        class="fa fa-cloud-upload fa-stack-1x fa-inverse text-white"></em></span></div>
                <div class="media-box-body clearfix">
                    <small class="text-muted pull-right ml">15m</small>
                    <div class="media-box-heading"><a href="#" class="text-purple m0">NEW FILE</a></div>
                    <p class="m0">
                        <small><a href="#">Bootstrap.xls</a></small>
                    </p>
                </div>
            </div>
        </div>
        <!-- END list group item--><!-- START list group item-->
        <div class="list-group-item">
            <div class="media-box">
                <div class="pull-left"><span class="fa-stack"><em class="fa fa-circle fa-stack-2x text-info"></em><em
                        class="fa fa-file-text-o fa-stack-1x fa-inverse text-white"></em></span></div>
                <div class="media-box-body clearfix">
                    <small class="text-muted pull-right ml">2h</small>
                    <div class="media-box-heading"><a href="#" class="text-info m0">NEW DOCUMENT</a></div>
                    <p class="m0">
                        <small><a href="#">Bootstrap.doc</a></small>
                    </p>
                </div>
            </div>
        </div>
        <!-- END list group item--><!-- START list group item-->
        <div class="list-group-item">
            <div class="media-box">
                <div class="pull-left"><span class="fa-stack"><em class="fa fa-circle fa-stack-2x text-danger"></em><em
                        class="fa fa-exclamation fa-stack-1x fa-inverse text-white"></em></span></div>
                <div class="media-box-body clearfix">
                    <small class="text-muted pull-right ml">5h</small>
                    <div class="media-box-heading"><a href="#" class="text-danger m0">BROADCAST</a></div>
                    <p class="m0"><a href="#">Read</a></p></div>
            </div>
        </div>
        <!-- END list group item--><!-- START list group item-->
        <div class="list-group-item">
            <div class="media-box">
                <div class="pull-left"><span class="fa-stack"><em class="fa fa-circle fa-stack-2x text-danger"></em><em
                        class="fa fa-exclamation fa-stack-1x fa-inverse text-white"></em></span></div>
                <div class="media-box-body clearfix">
                    <small class="text-muted pull-right ml">5h</small>
                    <div class="media-box-heading"><a href="#" class="text-danger m0">BROADCAST</a></div>
                    <p class="m0"><a href="#">Read</a></p></div>
            </div>
        </div>
        <!-- END list group item--><!-- START list group item-->
        <div class="list-group-item">
            <div class="media-box">
                <div class="pull-left"><span class="fa-stack"><em class="fa fa-circle fa-stack-2x text-danger"></em><em
                        class="fa fa-exclamation fa-stack-1x fa-inverse text-white"></em></span></div>
                <div class="media-box-body clearfix">
                    <small class="text-muted pull-right ml">5h</small>
                    <div class="media-box-heading"><a href="#" class="text-danger m0">BROADCAST</a></div>
                    <p class="m0"><a href="#">Read</a></p></div>
            </div>
        </div>
        <!-- END list group item--><!-- START list group item-->
        <div class="list-group-item">
            <div class="media-box">
                <div class="pull-left"><span class="fa-stack"><em class="fa fa-circle fa-stack-2x text-danger"></em><em
                        class="fa fa-exclamation fa-stack-1x fa-inverse text-white"></em></span></div>
                <div class="media-box-body clearfix">
                    <small class="text-muted pull-right ml">5h</small>
                    <div class="media-box-heading"><a href="#" class="text-danger m0">BROADCAST</a></div>
                    <p class="m0"><a href="#">Read</a></p></div>
            </div>
        </div>
        <!-- END list group item--><!-- START list group item-->
        <div class="list-group-item">
            <div class="media-box">
                <div class="pull-left"><span class="fa-stack"><em class="fa fa-circle fa-stack-2x text-danger"></em><em
                        class="fa fa-exclamation fa-stack-1x fa-inverse text-white"></em></span></div>
                <div class="media-box-body clearfix">
                    <small class="text-muted pull-right ml">5h</small>
                    <div class="media-box-heading"><a href="#" class="text-danger m0">BROADCAST</a></div>
                    <p class="m0"><a href="#">Read</a></p></div>
            </div>
        </div>
        <!-- END list group item--><!-- START list group item-->
        <div class="list-group-item">
            <div class="media-box">
                <div class="pull-left"><span class="fa-stack"><em class="fa fa-circle fa-stack-2x text-success"></em><em
                        class="fa fa-clock-o fa-stack-1x fa-inverse text-white"></em></span></div>
                <div class="media-box-body clearfix">
                    <small class="text-muted pull-right ml">15h</small>
                    <div class="media-box-heading"><a href="#" class="text-success m0">NEW MEETING</a></div>
                    <p class="m0">
                        <small>On <em>10/12/2015 09:00 am</em></small>
                    </p>
                </div>
            </div>
        </div>
        <!-- END list group item--><!-- START list group item-->
        <div class="list-group-item">
            <div class="media-box">
                <div class="pull-left"><span class="fa-stack"><em class="fa fa-circle fa-stack-2x text-warning"></em><em
                        class="fa fa-tasks fa-stack-1x fa-inverse text-white"></em></span></div>
                <div class="media-box-body clearfix">
                    <small class="text-muted pull-right ml">1w</small>
                    <div class="media-box-heading"><a href="#" class="text-warning m0">TASKS COMPLETION</a></div>
                    <div class="progress-xs m0 progress ng-isolate-scope" value="22" type="warning">
                        <div class="progress-bar progress-bar-warning" ng-class="type &amp;&amp; 'progress-bar-' + type"
                             role="progressbar" aria-valuenow="22" aria-valuemin="0" aria-valuemax="100"
                             ng-style="{width: (percent < 100 ? percent : 100) + '%'}" aria-valuetext="22%"
                             aria-labelledby="progressbar" ng-transclude="" style="width: 22%;"><span class="ng-scope">22%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END list group item--></div>
    <!-- END list group--><!-- START panel footer-->
    <div class="panel-footer clearfix"><a href="#" class="pull-left">
        <small>Load more</small>
    </a></div>
    <!-- END panel-footer--></div>