<h3>Machine List
   <small>Here shows the machine(s) information for your testing.</small>
</h3>
<div class="wrapper machines init-hide" ng-controller="MistMachineController as mctrl">
	<!--@ View Machine Status-->
	<div class="row buttons animate" ng-cloak ng-show="topShow">
		<div class="col-lg-9 col-md-9 col-sm-9 btn-col">
			<button ng-click="mctrl.addMachine()" class="btn btn-success btn-sm">
				<em class="fa fa-plus"></em>
				Add New Machine
			</button>
			<button ng-click="mctrl.tableParams.sorting({})" class="btn btn-primary btn-sm">Clear sorting</button>
		</div>
		<div class="col-lg-1 col-md-1 col-sm-1">
			<div class="ph" uib-popover="total Number" popover-trigger="mouseenter">
				<p class="m0 text-muted">
					<em class="icon-layers mr fa-lg"></em>{{ totalNum }}
				</p>
			</div>
		</div>
		<div class="col-lg-1 col-md-1 col-sm-1">
			<div class="ph" uib-popover="owned by me" popover-trigger="mouseenter">
				<p class="m0 text-muted">
					<em class="icon-user mr fa-lg"></em>{{ myown }}
				</p>
			</div>
		</div>
		<div class="col-lg-1 col-md-1 col-sm-1">
			<div class="ph" uib-popover="used by me" popover-trigger="mouseenter">
				<p class="m0 text-muted">
					<em class="icon-drawar mr fa-lg"></em>{{ myuse }}
				</p>
			</div>
		</div>
	</div>
	
	<div class="row machine-detail">
		<!--@ left: main list-->
		<div class="col-lg-9 col-md-9 col-sm-9 table-col animate" ng-cloak ng-show="leftShow">
			<table class="table table-bordered table-hover bg-white" ng-table="mctrl.tableParams" show-filter="true">
		      	<tr ng-repeat="machine in $data">
		        	<td data-title="'Name'" sortable="'name'" filter="{ 'name': 'text' }" style="width:15%">
		            	<span editable-text="machine.name" e-name="name" e-form="rowform" onbeforesave="mctrl.checkName($data)" e-required="">{{ machine.name || &apos;default&apos; }}</span>
		         	</td>
		         	<td data-title="'hostname'" sortable="'hostname'" filter="{ 'hostname': 'text' }" style="width:20%">
		            	<span editable-text="machine.hostname" e-name="hostname" e-form="rowform">{{ machine.hostname }}</span>
		         	</td>
		         	<td data-title="'ip'" sortable="'ip'" filter="{ 'ip': 'text' }" style="width:15%">
		            	<span editable-text="machine.ip" e-name="ip" e-form="rowform">{{ machine.ip }}</span>
		         	</td>
		         	<td data-title="'id'" sortable="'id'" filter="{ 'id': 'text' }" style="width:15%">
		            	<span editable-text="machine.id" e-name="id" e-form="rowform">{{ machine.id }}</span>
		         	</td>
		         	<td data-title="'description'" sortable="'desc'" filter="{ 'desc': 'text' }" style="width:20%">
		            	<span editable-text="machine.desc" e-name="desc" e-form="rowform">{{ machine.desc }}</span>
		         	</td>
		         	<td data-title="'operation'" style="white-space: nowrap" style="width:15%">
		            	<!-- form-->
		            	<form editable-form="" name="rowform" onaftersave="mctrl.saveMachine($data, machine.name, machine.id)"
		            	 ng-show="rowform.$visible" class="form-buttons form-inline">
		               		<button type="submit" ng-disabled="rowform.$waiting" title="Save" class="btn btn-sm btn-warning">
		                  		<em class="fa fa-save"></em>
		               		</button>
		               		<button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" title="Cancel" class="btn btn-sm btn-default">
		                  		<em class="fa fa-times"></em>
		               		</button>
		            	</form>
		            	<div ng-show="!rowform.$visible" class="buttons">
		               		<button ng-click="rowform.$show()" title="Edit" class="btn btn-sm btn-default">
		                 		<em class="fa fa-pencil"></em>
		               		</button>
		               		<button ng-click="mctrl.removeMachine($index, machine.name, machine.id)" title="Delete" class="btn btn-sm btn-warning">
		                  		<em class="fa fa-trash"></em>
		               		</button>
		            	</div>
		         	</td>
		      	</tr>
	    	</table>
		</div>
		<!--& left: main list-->
		
		<!--@ right: aside info-->
		<aside class="col-xs-0 col-sm-3 col-md-3 col-lg-3 right-col">
			<!--Monthly Update-->
			<div class="panel panel-default stats" ng-class="{'panel-shown':rightShow}">
				<div class="panel-body">
					<a href="#" class="text-muted pull-right">
						<em class="fa fa-arrow-right"></em>
					</a>
					<div class="text-info">Monthly Updates</div>
					<canvas classyloader="" class="center-block"
						data-percentage="70"
						data-speed="20"
						data-font-size="40px"
					 	data-diameter="70"
					 	data-line-color="{{colorByName('info')}}"
					 	data-remaining-line-color="rgba(200,200,200,0.4)"
					 	data-line-width="10"
           			 	data-rounded-line="true">
           			</canvas>
           			<div sparkline="" class="text-center"
           				data-bar-color="{{colorByName('info')}}" 
           				data-height="30" data-bar-width="5" data-bar-spacing="2" 
           				values="5,4,8,7,8,5,4,6,5,5,9,4,6,3,4,7,5,4,7">
           			</div>
				</div>
				<div class="panel-footer">
					<p class="text-muted">
						<em class="fa fa-upload fa-fw"></em>
               			<span>This Month</span>
               			<span class="text-dark">15 updates</span>
					</p>
				</div>
			</div>
			<!--Latest Update-->
			<div class="panel panel-default stats" ng-class="{'panel-shown':rightShow}">
				<div class="panel-heading">
					<div class="panel-title">Latest Updates</div>
				</div>
				<div class="list-group">
					<!--one group item-->
					<div class="list-group-item">
						<div class="media-box">
							<!--ICON-->
							<div class="pull-left">
								<span class="fa-stack">
                        			<em class="fa fa-circle fa-stack-2x text-success"></em>
                        			<em class="fa fa-check fa-stack-1x fa-inverse text-white"></em>
                     			</span>
							</div>
							<!--CONTENT-->
							<div class="media-box-body clearfix">
								<small class="text-muted pull-right ml">15 min</small>
								<div class="media-box-heading">
									<a href="#" class="text-success m0">NEW ADD: W9B-1</a>
                     			</div>
                     			<p class="m0">
		                        	<small><a href="#">by fuxxbj</a></small>
		                     	</p>
							</div>
						</div>
					</div>
					<!--one group item-->
					<div class="list-group-item">
						<div class="media-box">
							<!--ICON-->
							<div class="pull-left">
								<span class="fa-stack">
                        			<em class="fa fa-circle fa-stack-2x text-success"></em>
                        			<em class="fa fa-check fa-stack-1x fa-inverse text-white"></em>
                     			</span>
							</div>
							<!--CONTENT-->
							<div class="media-box-body clearfix">
								<small class="text-muted pull-right ml">34 min</small>
								<div class="media-box-heading">
									<a href="#" class="text-success m0">NEW ADD: W9B-2</a>
                     			</div>
                     			<p class="m0">
		                        	<small><a href="#">by fuxxbj</a></small>
		                     	</p>
							</div>
						</div>
					</div>
					<!--one group item-->
					<div class="list-group-item">
						<div class="media-box">
							<!--ICON-->
							<div class="pull-left">
								<span class="fa-stack">
                        			<em class="fa fa-circle fa-stack-2x text-warning"></em>
                        			<em class="fa fa-edit fa-stack-1x fa-inverse text-white"></em>
                     			</span>
							</div>
							<!--CONTENT-->
							<div class="media-box-body clearfix">
								<small class="text-muted pull-right ml">12 hours</small>
								<div class="media-box-heading">
									<a href="#" class="text-warning m0">UPDATED: W9B-3</a>
                     			</div>
                     			<p class="m0">
		                        	<small><a href="#">by hyebj</a></small>
		                     	</p>
							</div>
						</div>
					</div>
					<!--one group item-->
					<div class="list-group-item">
						<div class="media-box">
							<!--ICON-->
							<div class="pull-left">
								<span class="fa-stack">
                        			<em class="fa fa-circle fa-stack-2x text-danger"></em>
                        			<em class="fa fa-exclamation fa-stack-1x fa-inverse text-white"></em>
                     			</span>
							</div>
							<!--CONTENT-->
							<div class="media-box-body clearfix">
								<small class="text-muted pull-right ml">2 days</small>
								<div class="media-box-heading">
									<a href="#" class="text-danger m0">REMOVED: PLX6-3</a>
                     			</div>
                     			<p class="m0">
		                        	<small><a href="#">by fuxxbj</a></small>
		                     	</p>
							</div>
						</div>
					</div>
					<!--one group item-->
				</div>
				<div class="panel-footer clearfix">
					<em class="fa fa-paw pull-left text-info"></em>
					<a href="#" class="pull-right"><small>more</small></a>
				</div>
			</div>
		</aside>
		<!--& right: aside info-->
	</div>
	<!--& View Machine Status-->
	
	<!--@ popup for adding machine-->
	<div class="row popup machine-add init-hide" ng-cloak ng-show="popShow">
		<div class="col-xs-0 col-sm-2 col-md-2 col-lg-2 place-hold"></div>
		<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 panel-col">
			<div class="panel panel-info">
	        	<div class="panel-heading text-center">Add Machine</div>
	        	<div class="panel-body">
	            	<div class="row">
	            		<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                  			<input type="text" placeholder="machine name" class="form-control" ng-model="addMachineName" />
               			</div>
               			<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                  			<input type="text" placeholder="hostname" class="form-control" ng-model="addMachineHost" />
               			</div>
               			<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                  			<input type="text" placeholder="machine ip" class="form-control" ng-model="addMachineIP" />
               			</div>
               			<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                  			<input type="text" placeholder="description" class="form-control" ng-model="addMachineDesc" />
               			</div>
	            	</div>
	            	<div class="row btn-block">
	            		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
	            			<button type="button" class="btn btn-pill-left btn-info" ng-click="mctrl.addMachineConfirm()">
			         			<span class="fa fa-check-circle"></span> Confirm
			         		</button>
			         		<button type="button" class="btn btn-pill-right btn-default" ng-click="popShow=false">
			         			Cancel <span class="fa fa-times-circle"></span>
			         		</button>
	            		</div>
		         	</div>
	         	</div>
	      	</div>
		</div>
	</div>
	<!--& popup for adding machine-->
</div>


<!--JS/CSS loaded with page render-->
<script type="text/javascript" src="js/vdefstarun.js"></script>