<div class="wrapper user-profile container">
    <div class="panel panel-default">
        <div class="panel-heading panelHeading">
            <h3 class="panel-title">Public profile</h3>
        </div>
        <div class="panel-body">
            <div>
                <p>Profile picture</p>
            </div>
            <div class="col-xs-12 col-sm-1 col-md-1"  id="portrait">
                <!--<img src="../img/port2.png">-->
            </div>
            <div class="col-xs-12 col-sm-10 col-md-10 containerZ">
                <input type="button" value="Upload new picture" id="portraitInputFileS">
                <input type="file" value="Upload new picture" id="portraitInputFileH">
                <p class="help-block">You can also drag and drop a picture from your computer.</p>
            </div>
        </div>
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <label for="profilename">Name</label>
                    <input type="text" class="form-control" id="profilename" placeholder="Name" disabled>
                </div>
                <div class="form-group">
                    <label for="profileid">Id</label>
                    <input type="text" class="form-control" id="profileid" placeholder="Id" disabled>
                </div>
                <div class="form-group">
                    <label for="profiletype">Type</label>
                    <input type="text" class="form-control" id="profiletype" placeholder="Type" disabled>
                </div>
                <div class="form-group">
                    <label for="profileemail">Email address</label>
                    <input type="email" class="form-control" id="profileemail" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="profileteam">Team</label>
                    <input type="text" class="form-control" id="profileteam" placeholder="unix_test">
                </div>
                <div class="form-group">
                    <label for="profiletsouser">TSO User</label>
                    <input type="text" class="form-control" id="profiletsouser" placeholder="mega">
                </div>
                <div class="form-group">
                    <label for="porfiletsopassword">TSO password</label>
                    <input class="form-control" id="porfiletsopassword" placeholder="TSO password" onfocus="this.type='password'">
                </div>
                <div class="form-group">
                    <label for="profileupdatetime">Updatetime</label>
                    <input type="text" class="form-control" id="profileupdatetime" placeholder="xxxx/xx/xx" disabled>
                </div>
                <div class="form-group">
                    <label for="profilecreatetime">Createtime</label>
                    <input type="text" class="form-control" id="profilecreatetime" placeholder="xxxx/xx/xx" disabled>
                </div>
                <button disabled type="submit" class="btn btn-success btn-profile" id="update">Update profile</button>
            </form>
        </div>
    </div>
    <div class="modal-backdrop getProfile">
        <div>
            <span class="fa fa-spinner fa-spin fa-2x"></span><span id="loading_text">Loading......</span>
        </div>
    </div>
</div>

<!--related JS-->
<!--<script src="js/jquery.toaster.js"></script>-->
<!--$.nofity related JS-->
<script src="js/app-seed.js"></script>
<!--userprofile.html related JS-->
<script src="js/profile.js"></script>