<div class="wrapper user-account">
    <div class="change-password container">
        <div class="panel panel-default">
            <div class="panel-heading changepassword-heading">
                <h3 class="panel-title">Change password</h3>
            </div>
            <div class="panel-body">
                <form id="account-form">
                    <div class="form-group">
                        <label for="username_account">User name</label>
                        <input disabled type="text" class="form-control" id="username_account" name="username-account" data-toggle="tootip" data-placement="bottom">
                    </div>
                    <div class="form-group">
                        <label for="oldpassword_account">Old password</label>
                        <input onfocus="this.type='password'" class="form-control" id="oldpassword_account" name="oldpassword" data-toggle="tootip" data-placement="bottom">
                    </div>
                    <div class="form-group">
                        <label for="newpassword_account">New password</label>
                        <input onfocus="this.type='password'" class="form-control" id="newpassword_account" name="newpassword" data-toggle="tootip" data-placement="bottom">
                    </div>
                    <div class="form-group">
                        <label for="confirmpassword_account">Confirm new password</label>
                        <input onfocus="this.type='password'" class="form-control" id="confirmpassword_account" data-toggle="tootip" data-placement="bottom">
                    </div>
                    <button type="button" class="btn" data-toggle="modal" id="changepassword_account">Change password</button>
                    <span><a href="#"> I forgot my password</a></span>
                    <div id="validate_tips"></div>
                </form>
            </div>
        </div>
    </div>
    <!--<div class="change-username container">-->
        <!--<div class="panel panel-default">-->
            <!--<div class="panel-heading changeusername-heading">-->
                <!--<h3 class="panel-title">Change username</h3>-->
            <!--</div>-->
            <!--<div class="panel-body">-->
                <!--<p class="tipone">Changing your username can have <a href="#">unintended side effects</a>.</p>-->
                <!--<form>-->
                    <!--<button type="button" class="btn">Change username</button>-->
                <!--</form>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <div class="delete-account container">
        <div class="panel panel-default">
            <div class="panel-heading deleteaccount-heading">
                <h3 class="panel-title">Delete account</h3>
            </div>
            <div class="panel-body">
                <p class="tipone">Once you delete your account, there is no going back. Please be certain.</p>
                <form>
                    <button type="button" class="btn" data-toggle="modal" data-target="#deleteaccountModal" id="deleteaccount-account">Delete your account</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!--related JS-->
<!--<script src="js/jquery.toaster.js"></script>-->
<script src="js/useraccount.js"></script>